doctype html
html(lang="en")
    head
        title Voting App - Home
        include ../partials/meta.pug
        include ../partials/libraries.pug
        style.
            .cquestion{ width: 500px; }
        
    body(data-bs-theme="dark")
        include ../partials/nav.pug

        main#questions.py-4
            h3.text-center.mb-4 Hi! Welcome to my voting app
            section.container.d-flex.flex-wrap.gap-3.justify-content-center
                each element in polls
                    form(id=`${element._id}` action=`/vote/${element._id}` method="POST").p-4.border.rounded.cquestion
                        label(for=`${element._id}-select`).h5.mb-0 #{element.question}
                        .form-text.mb-3 By 
                            span.author #{element.author}

                        select(name="voteOptions" id=`${element._id}-select` title="Options").form-select.mb-3
                            each op in element.options
                                option #{op.value}
                            option Add option...

                        input(type="text" name="newOption" disabled="true" required placeholder="Select add option to edit").form-control.w-100.mb-3
                        
                        .d-grid.gap-2
                            button.btn.btn-secondary(type="submit") Vote 
        
        script(type="text/javascript" src="/js/handleOptions.js")